[package]
name = "gyroflow"
version = "1.0.0-rc4"
authors = ["Adrian <adrian.eddy@gmail.com>", "Elvin Chen"]
edition = "2021"
build = "build.rs"

[features]
default = ["opencv", "opencl"]
opencv = ["gyroflow-core/use-opencv"]
opencl = ["gyroflow-core/use-opencl"]

[target.'cfg(not(target_os = "android"))'.dependencies]
gyroflow-core = { path = "src/core/", default-features = false }

[dependencies]
cstr = "0.2.9"
cpp = "0.5.6"
serde_json = "1.0.78"
bytemuck = "1.7.3"
nalgebra = "0.30"
semver = "1.0.5"

breakpad-sys = "0.1.1"

qmetaobject = { version = "*", git = "https://github.com/AdrianEddy/qmetaobject-rs.git", default-features = false, features = ["log"] }
qttypes     = { version = "*", git = "https://github.com/AdrianEddy/qmetaobject-rs.git", default-features = false, features = ["required", "qtquick", "qtquickcontrols2"]}
qml-video-rs = { git = "https://github.com/AdrianEddy/qml-video-rs.git" }
#qml-video-rs = { path = "../qml-video-rs" }

ffmpeg-next = { version = "5.0.2", default-features = false, features = ["codec", "filter", "format", "software-resampling", "software-scaling"] }
lazy_static = "1.4.0"
parking_lot = "0.12.0"

winapi = "0.3.9"
simplelog = "0.11.2"
log = "0.4.14"

ureq = "2.4"
whoami = "1.2.1"

[target."cfg(target_os = \"windows\")".dependencies.windows]
version = "0.32.0"
features = [
    "alloc",
    "Win32_System_Com",
    "Win32_System_SystemServices",
    "Win32_UI_Shell",
    "Win32_Foundation",
]

[build-dependencies]
cpp_build = "0.5.6"
winres = "0.1.12"

[[bin]]
name = "gyroflow"
path = "src/gyroflow.rs"

[profile.profile]
inherits = "release"
debug = true

[profile.deploy]
inherits = "release"
lto = true
codegen-units = 1

# -------------------------- Android stuff --------------------------

# [lib]
# crate-type = ["cdylib"]
# name = "gyroflow"
# path = "src/gyroflow.rs"

[package.metadata.android]
build_targets = [ "aarch64-linux-android" ]

[package.metadata.android.sdk]
min_sdk_version = 23
target_sdk_version = 29

[[package.metadata.android.uses_permission]]
name = "android.permission.WRITE_EXTERNAL_STORAGE"

[target.'cfg(target_os = "android")'.dependencies]
gyroflow-core = { path = "src/core/", features = ["use-opencv"], default-features = false }
# ndk = { version = "*", features = ["trace"] }
# ndk-glue = { version = "*", features = ["logger"] }
ndk-sys = { version = "0.3.0" }
