[package]
name = "gyroflow"
version = "1.3.0-rc"
authors = ["Adrian <adrian.eddy@gmail.com>", "Elvin Chen"]
edition = "2021"
build = "build.rs"

[features]
default = ["opencv"]
opencl = ["gyroflow-core/use-opencl"]
opencv = ["gyroflow-core/use-opencv"]

[target.'cfg(not(any(target_os = "android", target_os = "ios")))'.dependencies]
gyroflow-core = { path = "src/core/", features = ["use-opencv", "use-opencl"] }
keep-awake = { git = "https://github.com/AdrianEddy/keep-awake-rs.git", rev = "c321a4d" }
system_shutdown = { git = "https://github.com/risoflora/system_shutdown.git", rev = "73aa506" }
breakpad-sys = "0.1.1"

[target.'cfg(any(target_os = "android", target_os = "ios"))'.dependencies]
gyroflow-core = { path = "src/core/", features = ["use-opencv"] }

[dependencies]
cstr = "0.2.11"
cpp = "0.5.7"
serde = "1.0.145"
serde_json = "1.0.85"
bytemuck = "1.12.1"
nalgebra = "0.30"
semver = "1.0.14"
fastrand = "1.8.0"
itertools = "0.10.5"
regex = "1.6.0"

pollster = "0.2.5"
futures-intrusive = "0.4.0"
flate2 = "1.0.24"
walkdir = "2.3.2"
mp4-merge = "0.1.3"
human-sort = "0.2.2"
argh = "0.1.9"
indicatif = "0.17"
rustfft = "6.0.1"

qmetaobject = { version = "0.2.7", default-features = false, features = ["log"] }
qttypes     = { version = "0.2.8", default-features = false, features = ["required", "qtquick", "qtquickcontrols2"]}
qml-video-rs = { git = "https://github.com/AdrianEddy/qml-video-rs.git", rev = "4ade893" }
#qml-video-rs = { path = "../qml-video-rs" }

ffmpeg-next = { version = "5.1.1", default-features = false, features = ["codec", "filter", "format", "software-resampling", "software-scaling"] }
lazy_static = "1.4.0"
parking_lot = "0.12.1"

simplelog = "0.12.0"
log = "0.4.17"

ureq = "2.5"
url = "2.3.1"
whoami = "1.2.3"
tar = "0.4.38"

log-panics = { version = "2.1", features = ["with-backtrace"] }

[patch.crates-io]
fc-blackbox = { git = "https://github.com/AdrianEddy/fc-blackbox.git", rev = "4e9e4e6" }
qmetaobject = { git = "https://github.com/AdrianEddy/qmetaobject-rs.git", rev = "6411d54" }
qttypes     = { git = "https://github.com/AdrianEddy/qmetaobject-rs.git", rev = "6411d54" }

[target."cfg(target_os = \"windows\")".dependencies.windows]
version = "0.42.0"
features = [ "Win32_System_Com", "Win32_System_Console", "Win32_System_SystemServices", "Win32_UI_Shell", "Win32_Foundation", "Win32_Graphics_Dwm" ]

[build-dependencies]
cpp_build = "0.5.7"
winres = "0.1.12"
walkdir = "2.3.2"
cc = "1.0.73"

[[bin]]
name = "gyroflow"
path = "src/gyroflow.rs"

[profile.profile]
inherits = "release"
debug = true

[profile.deploy]
inherits = "release"
lto = true
codegen-units = 1

# -------------------------- Android stuff --------------------------

# [lib]
# crate-type = ["cdylib"]
# name = "gyroflow"
# path = "src/gyroflow.rs"

[package.metadata.android]
build_targets = [ "aarch64-linux-android" ]

[package.metadata.android.sdk]
min_sdk_version = 23
target_sdk_version = 29

[[package.metadata.android.uses_permission]]
name = "android.permission.WRITE_EXTERNAL_STORAGE"

[target.'cfg(target_os = "android")'.dependencies]
# ndk = { version = "*", features = ["trace"] }
# ndk-glue = { version = "*", features = ["logger"] }
ndk-sys = { version = "0.4.0" }
